{% extends 'base.html.twig' %}

{% block title %}Réservation de votre Séjour{% endblock %}


{% block body %}

    <h4 class="mb-3 mt-2 h3 text-center mt-4 ">Réservation</h4>
    <hr>
    <div class="seaview col-lg-5 p-5 mt-4 mb-4 m-auto">
        <h5 class="mb-2">Sélectionnez votre séjour :</h5>
        {{ form(reservationForm) }}
        <br>
    </div>




{% endblock %}
{% block body_javascript %}
    <script type="module" src="{{ asset('assets/datepicker/datepicker.min.js') }}"></script>
        <script type="text/javascript">
        $(document).ready(function (){
            datepicker('.startdate', {
                id:1,
                formatter: (input, date) => {
                    input.value = date.toLocaleDateString()
                },
                startDay: 1,
                customDays : ['Di' , 'Lu' , 'Ma' , 'Me' , 'Je' , 'Ve' , 'Sa'],
                customMonths: ['Janvier' , 'Février' , 'Mars' , 'Avril' , 'Mai' , 'Juin' , 'Juillet' , 'Août' , 'Septembre' , 'Octobre' , 'Novembre' , 'Décembre'],
                overlayButton : 'Valider',
                overlayPlaceholder : 'Année',
                minDate : new Date(Date.now())
            })
            datepicker('.enddate', {
                id:1,
                formatter: (input, date) => {
                    input.value = date.toLocaleDateString()
                }
            })
        })
    </script>
{% endblock %}